body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }  

  .titul {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
  }

   .item {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #333;
    text-align: center;
  }
  
  .noticias {
    margin-top: 20px;
  }
  
  p {
    color: #666;
    text-align: center;
  }
  .link {
    color: blue;
    text-decoration: none;
    padding: 5px;
    
  }
  
  .link:hover {
    text-decoration: underline;
  }