body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(163, 182, 143);
}

.container {
    display: flex;
    height: 100vh;
}

.text-container {
    flex: 1;
    text-align: left;
    padding: 0px;
    font-size:50px;
    margin-left: 5%;
    margin-top: 5%;
}

.image-container {
    flex: 1;
    text-align: right;
}

img {
    
    max-width: 50%;
    height: auto;
    margin-right: 20%;
    margin-top: 10%;
}